body {
	background: url("../images/deeppurple.jpg");

}

* {
	box-sizing: border-box;
}

.jumbotron-fluid {
	background: url("../images/deeppurple.jpg");
}

.display {
	text-align: center;
	font-size: 70px;
}

.container {
	color: white;
	
}
.image {
	margin: 35px;
}

.footer {
	padding: 30px 0;
	font-size: 20px;
	color: #ffffff;
	color: #cccccc;
	height: 110px;
	text-align: center;
	font-family: 'Georgia', Times, serif;
	vertical-align: center;
}
